/* hot pink: #f72585
purple: #7209b7
dark purple: #3a0ca3
blue: #4361ee
teal: #4cc9f0 */
/* font-family: 'Poppins', sans-serif; */

#my-pic {
    background-image: url('../images/kt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 600px) {
    #my-pic {
        display: none;
    }
}

#about-me {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #7209b7;
    background-color: rgb(67, 97, 238, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

@media (min-width: 350px) and (max-width: 600px) {
    #about-me {
        width: 100vw;
    }
}